<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.emulator.forty.eight">

    <application
	    android:name="org.emulator.calculator.EmuApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
	        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.e38"
                    android:host="*"/>
                <data android:scheme="content"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.e39"
                    android:host="*"/>
                <data android:scheme="content"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.e48"
                    android:host="*"/>
                <data android:scheme="content"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.e49"
                    android:host="*"/>
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>