<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.regis.cosnier.emu48">

    <!--<uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <!--<data android:mimeType="*/*" />-->
                <data android:scheme="file"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.e48"
                    android:host="*"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.regis.cosnier.emu48.MainActivity"/>
        </activity>
        <activity
            android:name=".InfoWebActivity"
            android:label="@string/title_web_activity_info">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.regis.cosnier.emu48.MainActivity" />
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_activity_info">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.regis.cosnier.emu48.MainActivity" />
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>